*.log
*.lock
*.dat
*.swp

.console_history
active
version_history.json
usercache.json
server.properties

cache
logs
world*

plugins/DiscordSRV/discord-console-log
plugins/DiscordSRV/.token
plugins/DiscordSRV/linkedaccounts.json
plugins/dynmap/*
!plugins/dynmap/configuration.txt

